<!DOCTYPE html>
<HTML>
<HEAD>
    <meta charset="UTF-8">
    <meta name=""robots" content="noindex">
    <meta name="description" content="
        Home page of Shunta Takahashi, a PhD student in theoretical physics at Kyoto University.
    ">
    <meta name="keywords" content="Shunta Takahashi, 髙橋駿太, 高橋駿太, タカハシシュンタ">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js" defer></script>
    <script type="module" src="/js/main.js" defer></script>
</HEAD>
<body>
<div id="header"></div>
<main>
<div class="content" data-content-type="***">
    <!-- set the content-type from site settings. -->
    <h3 class="content-title"><!-- タイトル --></h3>
    <hr class="ruler">
    <div class="content-text">
        <!-- main texts -->
    </div>
</div>
</main>
<div id="footer"></div>
</body>
</HTML>